<div class="card" style="width: 12rem;">
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h5 class="card-title">{{dayTaskItem.title}}</h5>
            </li>
            <li class="list-group-item">Hours : {{dayTaskItem.hoursFrom}} - {{dayTaskItem.hoursTo}}</li>
            <li class="list-group-item">
                <select class="form-control">
                    <option value="1">To do</option>
                    <option value="2">in Progress</option>
                    <option value="3">Done</option>
                </select>
            </li>
        </ul>
    </div>
</div>